.Icons {
    display: flex;
    justify-content: start;
  }
  .gridViewClass {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .listViewClass {
    padding: 16px;
  }
  
  .md-card2 {
    width: 250px;
    margin: 10px;
    /* //   height:200px; */
    display: inline-block;
    vertical-align: top;
  }
  .md-card1 {
    width: 550px;
    margin: 10px;
    /* //   height:200px; */
    display: inline-block;
    vertical-align: top;
  }
  
  
  .md-icon-button {
    
    opacity: 0.85;
  }
  .inputClass {
    width: 166px;
    border: none;
    outline: none;
  }
  .description {
    justify-content: flex-start;
    display: flex;
  }
  .title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .title1 {
    margin-top: 4%;
    position: relative;
  }
  .md-elevation-1 {
    border-radius: 8px;
  }
  .md-elevation-1 :hover .md-icon-button {
    visibility: visible;
  }
  .md-icon-button {
    visibility: hidden;
  }
  
  .md-content {
    width: 100px;
    /* // height: 100px; */
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .md-avatar {
    width: 25px;
    min-width: 25px;
    height: 25px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    border-radius: 40px;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color;
    will-change: color, background-color;
    font-size: 24px;
    letter-spacing: -0.05em;
    vertical-align: middle;
    padding: 5px 7px 3px;
  }